{% extends "inventory/base.html" %}
{% block content %}
<div class="container">
    <h1>{% if edit %}✏️ Edit Barang{% else %}➕ Tambah Barang{% endif %}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">
            {% if edit %}Simpan Perubahan{% else %}Tambah Barang{% endif %}
        </button>
        <a href="{% url 'daftar_barang' %}" class="btn btn-secondary">Batal</a>
    </form>
</div>
{% endblock %}
